CompileFlags:
  Add:
    - -xc
    - -target
    - arm-none-eabi
    - -DUSE_HAL_DRIVER
    - -DSTM32F411xE
    - -ICore/Inc
    - -IDrivers/STM32F4xx_HAL_Driver/Inc
    - -IDrivers/STM32F4xx_HAL_Driver/Inc/Legacy
    - -IDrivers/CMSIS/Device/ST/STM32F4xx/Include
    - -IDrivers/CMSIS/Include
    - -IMiddlewares/Third_Party/FreeRTOS/Source/include
    - -IMiddlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2
    - -IMiddlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F
    - --include=stm32f4xx.h
  Compiler: /Applications/STM32CubeIDE.app/Contents/Eclipse/plugins/com.st.stm32cube.ide.mcu.externaltools.gnu-tools-for-stm32.13.3.rel1.macos64_1.0.0.202411102158/tools/bin/arm-none-eabi-gcc
